<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileNotification</key>
	<integer>1</integer>
	<key>IC Token</key>
	<string>MTc5OjYzMzZlZmM3ZWM0NTlkNjkzMTczZmQ2YWFhNDZlZTU=</string>
	<key>IC GID</key>
	<integer>179</integer>
	<key>IC AID</key>
	<integer>517</integer>
	<key>UUID</key>
	<string>1A2B3C4D-1A2B-1A2B-1A2B-1A2B3C4D5E6F</string>
</dict>
</plist>
